<!DOCTYPE html>
<html lang="en"{% block extra_html %}{% endblock extra_html %}>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra_head %}{% endblock extra_head %}
</head>

<body {% block extra_body %}{% endblock extra_body %}>

{% include "polls/_head.html" %}

<div class="container">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            <h4 class="alert-heading">{{ message.tags }}</h4>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
    </div>

</div> <!-- /container -->

{% include "polls/_footer.html" %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/underscore.js"></script>
<script src="{{ STATIC_URL }}js/backbone.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

</body>
</html>